#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
link='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [3]:
page=requests.get(link)
page

In [4]:
soup=bs(page.content,"html.parser")

In [5]:
T=soup.find_all('span',class_="u-hide-phablet")

In [6]:
len(T)

25

In [7]:
Team_Name=[]
for i in range(0,len(T)):
  Team_Name.append(T[i].get_text().replace("\n",""))

In [8]:
Team_Name=Team_Name[:10]
Team_Name

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [9]:
M=soup.find_all('td',class_="rankings-block__banner--matches")

In [10]:
Match=[]
for i in range(0,len(M)):
  Match.append(M[i].get_text().replace("\n",""))

In [11]:
Match

['17']

In [12]:
top_matches=soup.find_all('td',class_="table-body__cell u-center-text")

In [13]:
tops_match=[]
for i in top_matches:
  tops_match.append(i.text.replace("\n",""))

In [14]:
tops_match

['25',
 '2,945',
 '29',
 '3,344',
 '27',
 '3,100',
 '20',
 '2,137',
 '24',
 '2,323',
 '27',
 '2,438',
 '27',
 '2,222',
 '24',
 '1,876',
 '17',
 '1,054',
 '7',
 '336',
 '21',
 '897',
 '15',
 '588',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [15]:
#full=soup.find_all('td',class_='rankings-block__banner--matches')
#full

In [16]:
#full_body=[]
#for i in full:
 # full_body.append(i.text)

In [17]:
maa1=[]
maa2=[]
for i in range(0,len(tops_match)):
  if i == 0 or i/2 == i//2:
    maa1.append(tops_match[i])
  else:
    maa2.append(tops_match[i])

In [18]:
maa1=Match+maa1
maa1=maa1[:10]

In [19]:
maa1

['17', '25', '29', '27', '20', '24', '27', '27', '24', '17']

In [20]:
top_ratings=soup.find_all('td',class_="rankings-block__banner--points")

In [21]:
top_ratings0=[]
for i in top_ratings:
  top_ratings0.append(i.text.replace("\n",""))

In [22]:
maa2=top_ratings0+maa2
maa2=maa2[:10]

In [23]:
maa2

['2,054',
 '2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054']

In [24]:
t_r=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

In [25]:
t_rs=[]
for i in t_r:
  t_rs.append(i.text.replace('\n',''))

In [26]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating

[<td class="table-body__cell u-text-right rating">118</td>,
 <td class="table-body__cell u-text-right rating">115</td>,
 <td class="table-body__cell u-text-right rating">115</td>,
 <td class="table-body__cell u-text-right rating">107</td>,
 <td class="table-body__cell u-text-right rating">97</td>,
 <td class="table-body__cell u-text-right rating">90</td>,
 <td class="table-body__cell u-text-right rating">82</td>,
 <td class="table-body__cell u-text-right rating">78</td>,
 <td class="table-body__cell u-text-right rating">62</td>,
 <td class="table-body__cell u-text-right rating">48</td>,
 <td class="table-body__cell u-text-right rating">43</td>,
 <td class="table-body__cell u-text-right rating">39</td>,
 <td class="table-body__cell u-text-right rating">37</td>,
 <td class="table-body__cell u-text-right rating">34</td>,
 <td class="table-body__cell u-text-right rating">24</td>,
 <td class="table-body__cell u-text-right rating">21</td>,
 <td class="table-body__cell u-text-right rating">16</td>,
 <td class="table-body__cell u-text-right rating">12</td>,
 <td class="table-body__cell u-text-right rating">0</td>]

In [27]:
rating1=[]
for i in rating:
  rating1.append(i.text.replace('\n\n',''))

In [28]:
rating1=t_rs+rating1
rating1=rating1[:10]

In [29]:
rating1

['                            121                            ',
 '118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62']

In [30]:
data=pd.DataFrame(Team_Name,columns=['Team_Name'])

In [31]:
Ratings=pd.DataFrame(rating1,columns=['Ratings'])

In [32]:
Ratings

                                             Ratings
0                              121               ...
1                                                118
2                                                115
3                                                115
4                                                107
5                                                 97
6                                                 90
7                                                 82
8                                                 78
9                                                 62

In [33]:
data['Matches']=maa1

In [34]:
data['Points']=maa2

In [35]:
data=pd.concat([data,Ratings],axis=1)

# Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [36]:
data

      Team_Name  ...                                            Ratings
0   New Zealand  ...                              121               ...
1     Australia  ...                                                118
2         India  ...                                                115
3       England  ...                                                115
4  South Africa  ...                                                107
5      Pakistan  ...                                                 97
6    Bangladesh  ...                                                 90
7   West Indies  ...                                                 82
8     Sri Lanka  ...                                                 78
9   Afghanistan  ...                                                 62

[10 rows x 4 columns]

#Top 10 ODI Batsmen in men along with the records of their team and rating.

In [37]:
link1='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

In [38]:
page1=requests.get(link1)
page1

In [39]:
soup1=bs(page1.content,"html.parser")

In [40]:
Batsmen=soup1.find_all('td',class_="table-body__cell rankings-table__name name")

In [41]:
bat=soup1.find_all('div',class_="rankings-block__banner--name-large")
bat

In [42]:
top_bat=[]
for i in bat:
  top_bat.append(i.text.replace("\n",""))

In [43]:
top_bat

['Babar Azam']

In [44]:
Batsmen_Name=[]
for i in Batsmen:
  Batsmen_Name.append(i.text.replace("\n",""))

In [45]:
Batsmen_Name=top_bat+Batsmen_Name

In [46]:
Batsmen_Names=Batsmen_Name[:10]
Batsmen_Names

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [47]:
to_te=soup1.find_all('div',class_="rankings-block__banner--nationality")

In [48]:
to_team=[]
for i in to_te:
  to_team.append(i.text.replace("\n",""))

In [49]:
Te=soup1.find_all('span',class_="table-body__logo-text")

In [50]:
Team=[]
for i in Te:
  Team.append(i.text.replace("\n",""))

In [51]:
Team=to_team+Team
Teams=Team[:10]
Teams

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [52]:
top_re=soup1.find_all('div',class_="rankings-block__banner--rating")

In [53]:
top_rat=[]
for i in top_re:
  top_rat.append(i.text.replace("\n",""))

In [54]:
Ra=soup1.find_all('td',class_="table-body__cell rating")

In [55]:
Rating=[]
for i in Ra:
  Rating.append(i.text.replace("\n",""))

In [56]:
Rating=top_rat+Rating
Ratings=Rating[:10]
Ratings

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [57]:
Batsmen=pd.DataFrame(Batsmen_Names,columns=['Batsmen_Name'])

In [58]:
Batsmen['Team']=Teams

In [59]:
Batsmen['Rating']=Ratings

#Top 10 ODI Batsmen in men along with the records of their team and rating.

In [60]:
Batsmen

          Batsmen_Name Team Rating
0           Babar Azam  PAK    865
1          Virat Kohli  IND    857
2         Rohit Sharma  IND    825
3          Ross Taylor   NZ    801
4          Aaron Finch  AUS    791
5       Jonny Bairstow  ENG    785
6         Fakhar Zaman  PAK    778
7  Francois du Plessis   SA    778
8         David Warner  AUS    773
9            Shai Hope   WI    773

In [61]:
Bowlers_Name=[]
for i in Batsmen_Name[9:18]:
  Bowlers_Name.append(i)

In [62]:
Bowlers_Name

['Shai Hope',
 'Quinton de Kock',
 'Kane Williamson',
 'Imam-ul-Haq',
 'Mushfiqur Rahim',
 'Joe Root',
 'Steve Smith',
 'Martin Guptill',
 'Shikhar Dhawan']

In [63]:
link2='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
page2=requests.get(link2)
page2

In [64]:
soup2=bs(page2.content,'html.parser')

In [65]:
bowers0=soup2.find_all('td',class_="table-body__cell rankings-table__name name")

In [66]:
bb_name=[]
for i in bowers0:
  bb_name.append(i.text.replace("\n",""))

In [67]:
top=soup2.find_all('div',class_="rankings-block__banner--name-large")

In [68]:
tops=[]
for i in top:
  tops.append(i.text.replace("\n",""))

In [69]:
tops

['Trent Boult']

In [70]:
top_bowlers=tops+bb_name

In [71]:
top_rat=soup2.find_all('td',class_="u-text-left")

In [72]:
top_rats=[]
for i in top_rat:
  top_rats.append(i.text.replace("\n",""))

In [73]:
top_rats

['737']

In [74]:
bower_rating=soup2.find_all('td',class_="table-body__cell rating")

In [75]:
bower_ratings=[]
for i in bower_rating:
  bower_ratings.append(i.text.replace("\n",""))

In [76]:
total_rating=top_rats+bower_ratings

In [77]:
top_t=soup2.find_all('div',class_="rankings-block__banner--nationality")

In [78]:
top_te=[]
for i in top_t:
  top_te.append(i.text.replace("\n",""))

In [79]:
top_te

['NZ']

In [80]:
bowler_rat=soup2.find_all('span',class_="table-body__logo-text")

In [81]:
bow_teams=[]
for i in bowler_rat:
  bow_teams.append(i.text.replace("\n",""))

In [82]:
total_team=top_te+bow_teams

In [83]:
data_bowler=pd.DataFrame(top_bowlers,columns=['Bowlers'])

In [84]:
data_bowler['Team']=total_team

In [85]:
data_bowler['Ratings']=total_rating

#Top 10 ODI bowlers along with the records of their team and rating

In [86]:
data_bowler.head(10)

             Bowlers Team Ratings
0        Trent Boult   NZ     737
1       Mehedi Hasan  BAN     713
2   Mujeeb Ur Rahman  AFG     708
3         Matt Henry   NZ     691
4     Jasprit Bumrah  IND     690
5      Kagiso Rabada   SA     666
6       Chris Woakes  ENG     665
7     Josh Hazlewood  AUS     660
8        Pat Cummins  AUS     646
9  Mustafizur Rahman  BAN     645