#Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
link='https://www.nobroker.in/property/sale/delhi/multiple?searchParam=W3sibGF0IjoyOC42NjUyNDI2LCJsb24iOjc3LjE5OTk5NTMsInBsYWNlSWQiOiJDaElKMlRNMUxIXzlERGtSbXc3cTJ4UG5iWkkiLCJwbGFjZU5hbWUiOiJEZWxoaSBOQ1IifSx7ImxhdCI6MjguNTk2MTI3OSwibG9uIjo3Ny4xNTg3Mzc1LCJwbGFjZUlkIjoiQ2hJSkJkMVdQdW9jRFRrUktRRkZzdjl0WWJRIiwicGxhY2VOYW1lIjoiRGVsaGkgQ2FudG9ubWVudCJ9XQ==&radius=2.0'

In [3]:
page=requests.get(link)
page

In [4]:
soup=bs(page.content,"html.parser")

In [5]:
house_title=soup.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY")

In [6]:
house_titles=[]
for i in house_title:
  house_titles.append(i.text.replace("\n",""))

In [7]:
house_titles

['1 BHK Flat  For Sale  In G+14 Grand Township With 7star Amenities In Delhi Ncr ',
 '1 BHK In Independent House  For Sale  In Azad Nagar ',
 '3 BHK Flat  For Sale  In Apartment In Gulabi Bagh ',
 '3 BHK In Independent House  For Sale  In Pratap Nagar ',
 '2 BHK Flat  For Sale  In Gulabi Bagh ',
 '2 BHK Flat  For Sale  In Kishan Ganj ',
 '4+ BHK Flat  For Sale  In Gulabi Bagh ',
 '1 BHK Flat  For Sale  In Gulabi Bagh ',
 '2 BHK Flat  For Sale  In Gulabi Bagh ',
 '3 BHK Flat  For Sale  In Apartment In Gulabi Bagh ']

In [8]:
location=soup.find_all('div',class_='nb__2CMjv')

In [9]:
location_names=[]
for i in location:
  location_names.append(i.text.replace("\n",""))

In [10]:
location_names

['Vrindaban chattikara road',
 'Independent House, Vir Banda Bairagi Marg near Metro Station ',
 'Azad nagar near Pratap Nagar metro station ',
 'Independent House, Bansal Marg near Singh Burger ',
 'Standalone Building, Azad Nagar, near Pratap Nagar Metro Station',
 'Standalone Building, Railway Officers Colony,  near North MCD Pratibha Vidyalaya Railway Colony Kishan Ganj',
 'Standalone building, Vir Banda Bairagi Marg, Azad Nagar near  Pratap Nagar metro station',
 'Standalone building, Vir Banda Bairagi Marg, Azad Nagar near  Pratap Nagar metro station',
 'Standalone building, Vir Banda Bairagi Marg, Azad Nagar near  Pratap Nagar metro station',
 'Azad nagar near Pratap Nagar metro station ']

In [11]:
emi=soup.find_all('div',class_='font-semi-bold heading-6')

In [12]:
emi

[<div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">900 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>22,925/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->40 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">540 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>11,462/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->20 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">850 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>45,851/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->80 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">1,000 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>48,717/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->85 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">500 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>20,060/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->35 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">783 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>31,522/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->55 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">3,000 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>85,971/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->1.5 Crores</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">600 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>16,048/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->28 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">700 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>18,340/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->32 Lacs</span></div>,
 <div class="font-semi-bold heading-6" id="minRent" itemprop="valueReference" itemscope="" itemtype="http://schema.org/PropertyValue"><meta content="Minimum Rent" itemprop="name"/><meta content="INR" itemprop="unitCode"/><div class="nb__3oNyC">850 sqft</div></div>,
 <div class="font-semi-bold heading-6" id="roomType"><span>₹</span>48,717/Month</div>,
 <div class="font-semi-bold heading-6"><meta content="Minimum Deposit" itemprop="name"/><span>₹<!-- -->85 Lacs</span></div>]

In [13]:
best_price=soup.find_all('div',class_='nb__2NPHR')

In [14]:
best=[]
for i in best_price:
  best.append(i.text.replace("\n",""))

In [15]:
EMI1=[]
for i in emi:
  EMI1.append(i.text)

In [16]:
EMI1

['900 sqft',
 '₹22,925/Month',
 '₹40 Lacs',
 '540 sqft',
 '₹11,462/Month',
 '₹20 Lacs',
 '850 sqft',
 '₹45,851/Month',
 '₹80 Lacs',
 '1,000 sqft',
 '₹48,717/Month',
 '₹85 Lacs',
 '500 sqft',
 '₹20,060/Month',
 '₹35 Lacs',
 '783 sqft',
 '₹31,522/Month',
 '₹55 Lacs',
 '3,000 sqft',
 '₹85,971/Month',
 '₹1.5 Crores',
 '600 sqft',
 '₹16,048/Month',
 '₹28 Lacs',
 '700 sqft',
 '₹18,340/Month',
 '₹32 Lacs',
 '850 sqft',
 '₹48,717/Month',
 '₹85 Lacs']

In [17]:
data=pd.DataFrame(EMI1,columns=['EMI'])

In [18]:
data

              EMI
0        900 sqft
1   ₹22,925/Month
2        ₹40 Lacs
3        540 sqft
4   ₹11,462/Month
5        ₹20 Lacs
6        850 sqft
7   ₹45,851/Month
8        ₹80 Lacs
9      1,000 sqft
10  ₹48,717/Month
11       ₹85 Lacs
12       500 sqft
13  ₹20,060/Month
14       ₹35 Lacs
15       783 sqft
16  ₹31,522/Month
17       ₹55 Lacs
18     3,000 sqft
19  ₹85,971/Month
20    ₹1.5 Crores
21       600 sqft
22  ₹16,048/Month
23       ₹28 Lacs
24       700 sqft
25  ₹18,340/Month
26       ₹32 Lacs
27       850 sqft
28  ₹48,717/Month
29       ₹85 Lacs

In [19]:
area=data[data.EMI.str.contains('sqft',case=False)]

In [20]:
area1=area.rename(columns={'EMi':'Area'})

In [21]:
price=data[data.EMI.str.contains('Lacs',case=False)]

In [22]:
EMI_per_month=data[data.EMI.str.contains('Month',case=False)]

In [23]:
EMI_per_month1=EMI_per_month.rename(columns={'EMI':'EMI_per_month'})

In [24]:
price1=price.rename(columns={'EMI':'Price'})
price1

       Price
2   ₹40 Lacs
5   ₹20 Lacs
8   ₹80 Lacs
11  ₹85 Lacs
14  ₹35 Lacs
17  ₹55 Lacs
23  ₹28 Lacs
26  ₹32 Lacs
29  ₹85 Lacs

In [25]:
areas=area1.reset_index()
EMI_per_months=EMI_per_month1.reset_index()

In [26]:
House=pd.concat([areas,EMI_per_months],axis=1)

In [27]:
House=House.drop(['index'],axis=1)

In [28]:
House['house_titles']=house_titles

In [29]:
House['location_names']=location_names

In [30]:
House=House[['house_titles','location_names','EMI_per_month','EMI']]

In [31]:
House=House.rename(columns={'EMI':'Area'})

In [32]:
House

                                        house_titles  ...        Area
0  1 BHK Flat  For Sale  In G+14 Grand Township W...  ...    900 sqft
1  1 BHK In Independent House  For Sale  In Azad ...  ...    540 sqft
2  3 BHK Flat  For Sale  In Apartment In Gulabi B...  ...    850 sqft
3  3 BHK In Independent House  For Sale  In Prata...  ...  1,000 sqft
4              2 BHK Flat  For Sale  In Gulabi Bagh   ...    500 sqft
5              2 BHK Flat  For Sale  In Kishan Ganj   ...    783 sqft
6             4+ BHK Flat  For Sale  In Gulabi Bagh   ...  3,000 sqft
7              1 BHK Flat  For Sale  In Gulabi Bagh   ...    600 sqft
8              2 BHK Flat  For Sale  In Gulabi Bagh   ...    700 sqft
9  3 BHK Flat  For Sale  In Apartment In Gulabi B...  ...    850 sqft

[10 rows x 4 columns]

In [33]:
import numpy as np
new= data[data['EMI'].str.contains('Lacs|Crores', case=False)]

In [34]:
new=new.reset_index()
new

   index          EMI
0      2     ₹40 Lacs
1      5     ₹20 Lacs
2      8     ₹80 Lacs
3     11     ₹85 Lacs
4     14     ₹35 Lacs
5     17     ₹55 Lacs
6     20  ₹1.5 Crores
7     23     ₹28 Lacs
8     26     ₹32 Lacs
9     29     ₹85 Lacs

In [35]:
House['Prices']=new['EMI']

In [36]:
House

                                        house_titles  ...       Prices
0  1 BHK Flat  For Sale  In G+14 Grand Township W...  ...     ₹40 Lacs
1  1 BHK In Independent House  For Sale  In Azad ...  ...     ₹20 Lacs
2  3 BHK Flat  For Sale  In Apartment In Gulabi B...  ...     ₹80 Lacs
3  3 BHK In Independent House  For Sale  In Prata...  ...     ₹85 Lacs
4              2 BHK Flat  For Sale  In Gulabi Bagh   ...     ₹35 Lacs
5              2 BHK Flat  For Sale  In Kishan Ganj   ...     ₹55 Lacs
6             4+ BHK Flat  For Sale  In Gulabi Bagh   ...  ₹1.5 Crores
7              1 BHK Flat  For Sale  In Gulabi Bagh   ...     ₹28 Lacs
8              2 BHK Flat  For Sale  In Gulabi Bagh   ...     ₹32 Lacs
9  3 BHK Flat  For Sale  In Apartment In Gulabi B...  ...     ₹85 Lacs

[10 rows x 5 columns]