#Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
link='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [3]:
page=requests.get(link)
page

In [4]:
soup=bs(page.content,"html.parser")

In [5]:
Team=soup.find_all('span',class_="u-hide-phablet")

In [6]:
len(Team)

15

In [7]:
Team_Name=[]
for i in range(0,len(Team)):
  Team_Name.append(Team[i].get_text().replace("\n",""))

In [8]:
Team_Name=Team_Name[:10]
Team_Name

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [9]:
M=soup.find_all('td',class_="rankings-block__banner--matches")

In [10]:
Match=[]
for i in range(0,len(M)):
  Match.append(M[i].get_text().replace("\n",""))

In [11]:
Match

['18']

In [12]:
top_matches=soup.find_all('td',class_="table-body__cell u-center-text")

In [13]:
tops_match=[]
for i in top_matches:
  tops_match.append(i.text.replace("\n",""))

In [14]:
tops_match

['24',
 '2,828',
 '17',
 '1,993',
 '20',
 '2,226',
 '21',
 '1,947',
 '12',
 '1,025',
 '15',
 '1,101',
 '5',
 '306',
 '11',
 '519',
 '2',
 '25']

In [15]:
#full=soup.find_all('td',class_='rankings-block__banner--matches')
#full

In [16]:
#full_body=[]
#for i in full:
 # full_body.append(i.text)

In [17]:
maa1=[]
maa2=[]
for i in range(0,len(tops_match)):
  if i == 0 or i/2 == i//2:
    maa1.append(tops_match[i])
  else:
    maa2.append(tops_match[i])

In [18]:
maa1=Match+maa1
maa1=maa1[:10]

In [19]:
maa1

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [20]:
top_ratings=soup.find_all('td',class_="rankings-block__banner--points")

In [21]:
top_ratings0=[]
for i in top_ratings:
  top_ratings0.append(i.text.replace("\n",""))

In [22]:
maa2=top_ratings0+maa2
maa2=maa2[:10]

In [23]:
maa2

['2,955',
 '2,828',
 '1,993',
 '2,226',
 '1,947',
 '1,025',
 '1,101',
 '306',
 '519',
 '25']

In [24]:
t_r=soup.find_all('td',class_="rankings-block__banner--rating u-text-right")

In [25]:
t_rs=[]
for i in t_r:
  t_rs.append(i.text.replace('\n',''))

In [26]:
rating=soup.find_all('td',class_="table-body__cell u-text-right rating")
rating

[<td class="table-body__cell u-text-right rating">118</td>,
 <td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell u-text-right rating">93</td>,
 <td class="table-body__cell u-text-right rating">85</td>,
 <td class="table-body__cell u-text-right rating">73</td>,
 <td class="table-body__cell u-text-right rating">61</td>,
 <td class="table-body__cell u-text-right rating">47</td>,
 <td class="table-body__cell u-text-right rating">13</td>]

In [27]:
rating1=[]
for i in rating:
  rating1.append(i.text.replace('\n\n',''))

In [28]:
rating1=t_rs+rating1
rating1=rating1[:10]

In [29]:
rating1

['                            164                            ',
 '118',
 '117',
 '111',
 '93',
 '85',
 '73',
 '61',
 '47',
 '13']

In [30]:
data=pd.DataFrame(Team_Name,columns=['Team_Name'])

In [31]:
Ratings=pd.DataFrame(rating1,columns=['Ratings'])

In [32]:
Ratings

                                             Ratings
0                              164               ...
1                                                118
2                                                117
3                                                111
4                                                 93
5                                                 85
6                                                 73
7                                                 61
8                                                 47
9                                                 13

In [33]:
data['Matches']=maa1

In [34]:
data['Points']=maa2

In [35]:
data=pd.concat([data,Ratings],axis=1)

#Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [36]:
data

      Team_Name  ...                                            Ratings
0     Australia  ...                              164               ...
1  South Africa  ...                                                118
2       England  ...                                                117
3         India  ...                                                111
4   New Zealand  ...                                                 93
5   West Indies  ...                                                 85
6      Pakistan  ...                                                 73
7    Bangladesh  ...                                                 61
8     Sri Lanka  ...                                                 47
9       Ireland  ...                                                 13

[10 rows x 4 columns]

#Top 10 women’s ODI players along with the records of their team and rating.

In [37]:
link1='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [38]:
page1=requests.get(link1)
page1

In [39]:
soup1=bs(page1.content,"html.parser")

In [40]:
Batsmen=soup1.find_all('td',class_="table-body__cell rankings-table__name name")

In [41]:
bat=soup1.find_all('div',class_="rankings-block__banner--name-large")
bat

In [42]:
top_bat=[]
for i in bat:
  top_bat.append(i.text.replace("\n",""))

In [43]:
top_bat

['Tammy Beaumont']

In [44]:
Batsmen_Name=[]
for i in Batsmen:
  Batsmen_Name.append(i.text.replace("\n",""))

In [45]:
Batsmen_Name=top_bat+Batsmen_Name

In [46]:
Batsmen_Names=Batsmen_Name[:10]
Batsmen_Names

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [47]:
to_te=soup1.find_all('div',class_="rankings-block__banner--nationality")

In [48]:
to_team=[]
for i in to_te:
  to_team.append(i.text.replace("\n",""))

In [49]:
Te=soup1.find_all('span',class_="table-body__logo-text")

In [50]:
Team=[]
for i in Te:
  Team.append(i.text.replace("\n",""))

In [51]:
Team=to_team+Team
Teams=Team[:10]
Teams

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [52]:
top_re=soup1.find_all('div',class_="rankings-block__banner--rating")

In [53]:
top_rat=[]
for i in top_re:
  top_rat.append(i.text.replace("\n",""))

In [54]:
Ra=soup1.find_all('td',class_="table-body__cell rating")

In [55]:
Rating=[]
for i in Ra:
  Rating.append(i.text.replace("\n",""))

In [56]:
Rating=top_rat+Rating
Ratings=Rating[:10]
Ratings

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

In [57]:
Batsmen=pd.DataFrame(Batsmen_Names,columns=['Batsmen_Name'])

In [58]:
Batsmen['Team']=Teams

In [59]:
Batsmen['Rating']=Ratings

#Top 10 women’s ODI  Batting Rankings.

In [60]:
Batsmen

        Batsmen_Name Team Rating
0     Tammy Beaumont  ENG    765
1        Lizelle Lee   SA    758
2       Alyssa Healy  AUS    756
3    Stafanie Taylor   WI    746
4        Meg Lanning  AUS    723
5  Amy Satterthwaite   NZ    715
6    Smriti Mandhana  IND    710
7        Mithali Raj  IND    709
8     Natalie Sciver  ENG    685
9    Laura Wolvaardt   SA    683

In [61]:
link2='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
page2=requests.get(link2)
page2

In [62]:
soup2=bs(page2.content,'html.parser')

In [63]:
bowers0=soup2.find_all('td',class_="table-body__cell rankings-table__name name")

In [64]:
bb_name=[]
for i in bowers0:
  bb_name.append(i.text.replace("\n",""))

In [65]:
top=soup2.find_all('div',class_="rankings-block__banner--name-large")

In [66]:
tops=[]
for i in top:
  tops.append(i.text.replace("\n",""))

In [67]:
tops

['Jess Jonassen']

In [68]:
top_bowlers=tops+bb_name

In [69]:
top_rat=soup2.find_all('div',class_="rankings-block__banner--rating")

In [70]:
top_rats=[]
for i in top_rat:
  top_rats.append(i.text.replace("\n",""))

In [71]:
top_rats

['808']

In [72]:
bower_rating=soup2.find_all('td',class_="table-body__cell rating")

In [73]:
bower_ratings=[]
for i in bower_rating:
  bower_ratings.append(i.text.replace("\n",""))

In [74]:
total_rating=top_rats+bower_ratings

In [75]:
top_t=soup2.find_all('div',class_="rankings-block__banner--nationality")

In [76]:
top_te=[]
for i in top_t:
  top_te.append(i.text.replace("\n",""))

In [77]:
top_te

['AUS']

In [78]:
bowler_rat=soup2.find_all('span',class_="table-body__logo-text")

In [79]:
bow_teams=[]
for i in bowler_rat:
  bow_teams.append(i.text.replace("\n",""))

In [80]:
total_team=top_te+bow_teams

In [81]:
data_bowler=pd.DataFrame(top_bowlers,columns=['Bowlers'])

In [82]:
data_bowler['Team']=total_team

In [83]:
data_bowler['Ratings']=total_rating

#Top 10 women’s ODI Bowling Rankings

In [84]:
data_bowler.head(10)

           Bowlers Team Ratings
0    Jess Jonassen  AUS     808
1     Megan Schutt  AUS     762
2   Marizanne Kapp   SA     747
3   Shabnim Ismail   SA     717
4   Jhulan Goswami  IND     681
5  Katherine Brunt  ENG     655
6     Poonam Yadav  IND     641
7   Ayabonga Khaka   SA     638
8     Ellyse Perry  AUS     616
9    Shikha Pandey  IND     610

#Q-3 all rounder

In [85]:
link3='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
page3=requests.get(link3)
page3

In [86]:
soup3=bs(page3.content,'html.parser')

In [87]:
all=soup3.find_all('td',class_="table-body__cell rankings-table__name name")

In [88]:
all_name=[]
for i in all:
  all_name.append(i.text.replace("\n",""))

In [89]:
top_all=soup3.find_all('div',class_="rankings-block__banner--name-large")

In [90]:
tops_all=[]
for i in top_all:
  tops_all.append(i.text.replace("\n",""))

In [91]:
tops_all

['Marizanne Kapp']

In [92]:
top_all=tops_all+all_name
top_all=top_all[:10]
top_all

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [93]:
top_all_rat=soup3.find_all('div',class_="rankings-block__banner--rating")

In [94]:
top_all_rats=[]
for i in top_all_rat:
  top_all_rats.append(i.text.replace("\n",""))

In [95]:
top_all_rats

['418']

In [96]:
all_round_rating=soup3.find_all('td',class_="table-body__cell rating")

In [97]:
all_ratings=[]
for i in all_round_rating:
  all_ratings.append(i.text.replace("\n",""))

In [98]:
all_ratings=top_all_rats+all_ratings
all_ratings=all_ratings[:10]

In [99]:
all_team=soup3.find_all('div',class_="rankings-block__banner--nationality")

In [100]:
all_te=[]
for i in all_team:
  all_te.append(i.text.replace("\n",""))

In [101]:
all_te

['SA']

In [102]:
all_team=soup3.find_all('span',class_="table-body__logo-text")

In [103]:
all_teams=[]
for i in all_team:
  all_teams.append(i.text.replace("\n",""))

In [104]:
all_teams=all_te+all_teams
all_teams=all_teams[:10]

In [105]:
all_rounder=pd.DataFrame(top_all,columns=['Player'])

In [106]:
all_rounder['Team']=all_teams

In [107]:
all_rounder['Ratings']=all_ratings

#Top 10 women’s ODI all-rounder along with the records of their team and rating

In [108]:
all_rounder.head(10)

             Player Team Ratings
0    Marizanne Kapp   SA     418
1      Ellyse Perry  AUS     418
2   Stafanie Taylor   WI     410
3    Natalie Sciver  ENG     349
4     Deepti Sharma  IND     343
5     Jess Jonassen  AUS     307
6  Ashleigh Gardner  AUS     252
7  Dane van Niekerk   SA     243
8     Sophie Devine   NZ     242
9       Amelia Kerr   NZ     236