#Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
link='https://internshala.com/fresher-jobs'

In [3]:
page=requests.get(link)
page

In [4]:
soup=bs(page.content,"html.parser")

In [5]:
job_title=soup.find_all('div',class_="heading_4_5 profile")

In [6]:
job_titles=[]
for i in job_title:
  job_titles.append(i.text.replace("\n",""))

In [7]:
job_titles

['Order Processor ',
 'Full Stack Developer ',
 'Associate Software Developer ',
 'Reactjs Developer ',
 'Full Stack Developer ',
 'Business Development Executive ',
 'Corporate Sales Associate ',
 'Inside Sales Associate ',
 'Mobile App Developer ',
 'Junior MERN STack Developer ',
 'Education Innovation Manager ',
 'General Management Associate ',
 'Content & E-commerce Management Trainee ',
 'Software Engineer ',
 'Sales Support & Operations Executive ',
 'Backend Developer ',
 'Accountant ',
 'Business Development (Sales) Associate ',
 'Corporate Sales Associate ',
 'Sales Executive - Mobile/Electronics ',
 'Reactjs Developer ',
 'Software Engineer ',
 'PHP & LARAVEL DEVELOPER ',
 'Customer Service Specialist ',
 'Graphic Designer ',
 'Digital Marketing Specialist ',
 'Junior Corporate Sales Executive ',
 'Backend Developer ',
 'Junior Operations Executive ',
 'Internal Audit Associate ',
 'Business Marketing Manager ',
 'React Native Developer ',
 'Research And Communications Associate ',
 'Data Scientist ',
 'Data Science Django Developer ',
 'Corporate Sales Associate ',
 'Full Stack Developer ',
 'Full Stack Developer (MERN) ',
 'Sales Development Representative ',
 'Graphic Designer ']

In [8]:
company=soup.find_all('a',class_='link_display_like_text')

In [9]:
company_names=[]
for i in company:
  company_names.append(i.text.replace("\n",""))

In [10]:
salary=soup.find_all('div',class_='item_body')

In [11]:
CTC=[]
for i in salary:
  CTC.append(i.text.replace("\n",""))

In [12]:
K='Starts\xa0Immediately                        '
while (K in CTC):
  CTC.remove(K)

In [14]:
Salary=[]
Apply_Date=[]
for i in range(0,len(CTC)):
  if i == 0 or i/2 == i//2:
    Salary.append(CTC[i])
  else:
    Apply_Date.append(CTC[i])

In [15]:
Salary

['  3 LPA                                                    ',
 '  3.5 - 5 LPA                                                    ',
 '  3.6 - 10 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3.3 - 4 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 6 LPA                                                    ',
 '  4.5 - 5.25 LPA                                                    ',
 '  3 - 5 LPA                                                    ',
 '  3 - 5 LPA                                                    ',
 '  4 - 5 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 - 3.01 LPA                                                    ',
 '  3 - 7 LPA                                                    ',
 '  3 - 3.25 LPA                                                    ',
 '  3 - 4 LPA                                                    ',
 '  3 LPA                                                    ',
 '  3 - 6 LPA                                                    ',
 '  3 LPA                                                    ',
 '  5 - 15 LPA                                                    ',
 '  3 - 3.05 LPA                                                    ',
 '  5.2 - 6.4 LPA                                                    ',
 '  5 - 6.5 LPA                                                    ',
 '  5 - 6.5 LPA                                                    ',
 '  3 - 3.5 LPA                                                    ',
 '  7 - 8.5 LPA                                                    ',
 '  3 - 3.6 LPA                                                    ',
 '  4.8 - 6 LPA                                                    ',
 '  4 - 8.5 LPA                                                    ',
 '  6.62 - 7.95 LPA                                                    ',
 '  3 - 4.5 LPA                                                    ',
 '  3 - 3.5 LPA                                                    ',
 '  3 - 4.5 LPA                                                    ',
 '  5 - 6.5 LPA                                                    ',
 '  4 - 7 LPA                                                    ',
 '  4 - 7.2 LPA                                                    ',
 '  5.5 - 6.5 LPA                                                    ',
 '  3 - 5 LPA                                                    ']

In [16]:
data=pd.DataFrame(job_titles,columns=['Job_Title'])

In [17]:
data['Company_Name']=company_names

In [18]:
data['CTC']=Salary

In [19]:
data['Apply_Date']=Apply_Date

In [20]:
data

                                   Job_Title  ...  Apply_Date
0                           Order Processor   ...  14 Jul' 21
1                      Full Stack Developer   ...  14 Jul' 21
2              Associate Software Developer   ...  11 Jul' 21
3                         Reactjs Developer   ...  11 Jul' 21
4                      Full Stack Developer   ...  11 Jul' 21
5            Business Development Executive   ...  11 Jul' 21
6                 Corporate Sales Associate   ...  11 Jul' 21
7                    Inside Sales Associate   ...  11 Jul' 21
8                      Mobile App Developer   ...  14 Jul' 21
9               Junior MERN STack Developer   ...  14 Jul' 21
10             Education Innovation Manager   ...  10 Jul' 21
11             General Management Associate   ...  10 Jul' 21
12  Content & E-commerce Management Trainee   ...   9 Jul' 21
13                        Software Engineer   ...   9 Jul' 21
14     Sales Support & Operations Executive   ...   9 Jul' 21
15                        Backend Developer   ...   9 Jul' 21
16                               Accountant   ...   8 Jul' 21
17   Business Development (Sales) Associate   ...   8 Jul' 21
18                Corporate Sales Associate   ...   7 Jul' 21
19     Sales Executive - Mobile/Electronics   ...   7 Jul' 21
20                        Reactjs Developer   ...   7 Jul' 21
21                        Software Engineer   ...   7 Jul' 21
22                  PHP & LARAVEL DEVELOPER   ...   4 Jul' 21
23              Customer Service Specialist   ...   3 Jul' 21
24                         Graphic Designer   ...   3 Jul' 21
25             Digital Marketing Specialist   ...   3 Jul' 21
26         Junior Corporate Sales Executive   ...   3 Jul' 21
27                        Backend Developer   ...   3 Jul' 21
28              Junior Operations Executive   ...   3 Jul' 21
29                 Internal Audit Associate   ...   3 Jul' 21
30               Business Marketing Manager   ...   3 Jul' 21
31                   React Native Developer   ...   3 Jul' 21
32    Research And Communications Associate   ...   3 Jul' 21
33                           Data Scientist   ...   2 Jul' 21
34            Data Science Django Developer   ...   2 Jul' 21
35                Corporate Sales Associate   ...   2 Jul' 21
36                     Full Stack Developer   ...   1 Jul' 21
37              Full Stack Developer (MERN)   ...   3 Jul' 21
38         Sales Development Representative   ...   1 Jul' 21
39                         Graphic Designer   ...   1 Jul' 21

[40 rows x 4 columns]