#Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
HEADERS = ({'User-Agent':
            'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5'})

In [3]:
link='https://www.amazon.in/Mobile-Phone-Under-20000-Rupees/s?k=Mobile+Phone+Under+20000+Rupees'

In [4]:
page=requests.get(link,headers=HEADERS)
page

In [5]:
soup=bs(page.content,"html.parser")

In [6]:
mobile_name=soup.find_all('span',class_="a-size-medium a-color-base a-text-normal")

In [7]:
Name=[]
for i in mobile_name:
  Name.append(i.text.replace("\n",""))

In [8]:
len(Name)

22

In [9]:
#for i in range(len(Name)):
#  Name[i]=Name[i].split("(")[0]

In [10]:
#Name

In [11]:
mobile_price=soup.find_all("span",class_="a-price-whole")

In [12]:
Price=[]
for i in mobile_price:
  Price.append(i.text)

In [13]:
len(Price)

22

In [14]:
mobile_rating=soup.find_all('span',class_="a-declarative")

In [15]:
Rating=[]
for i in mobile_rating:
  Rating.append(i.text.replace("\n",""))

In [16]:
K="Sort by:Featured"
while K in Rating:
  Rating.remove(K)

In [17]:
K="SponsoredSponsored "
while K in Rating:
  Rating.remove(K)

In [18]:
K="Let us know  "
while K in Rating:
  Rating.remove(K)

In [19]:
Rating=Rating[1:23]

In [20]:
mobile_image=soup.find_all('img',class_='s-image')
len(mobile_image)

22

In [21]:
Image=[]
for i in mobile_image:
  Image.append(i.get('srcset'))

In [22]:
len(Image)

22

In [23]:
data=pd.DataFrame(Name,columns=['Name'])

In [24]:
data['Price']=Price
data['Image_URL']=Image
data['Rating']=Rating

In [25]:
data['Name']=data['Name'].str.split('(').str[0]

In [26]:
data

                        Name  ...              Rating
0                iQOO Z3 5G   ...  4.4 out of 5 stars
1                  Oppo F19   ...  4.0 out of 5 stars
2                  Redmi 9A   ...  4.2 out of 5 stars
3                   Redmi 9   ...  4.2 out of 5 stars
4        Samsung Galaxy M12   ...  4.1 out of 5 stars
5                   Redmi 9   ...  4.2 out of 5 stars
6             Redmi Note 10   ...  4.1 out of 5 stars
7                  Oppo A31   ...  4.2 out of 5 stars
8                  Oppo A31   ...  4.2 out of 5 stars
9              Redmi Note 9   ...  4.3 out of 5 stars
10              OPPO A74 5G   ...  4.2 out of 5 stars
11            Tecno Spark 7   ...  3.9 out of 5 stars
12                 Redmi 9A   ...  4.2 out of 5 stars
13                 Redmi 9A   ...  4.2 out of 5 stars
14       Samsung Galaxy M12   ...  4.1 out of 5 stars
15  Samsung Galaxy M01 Core   ...  3.7 out of 5 stars
16       Samsung Galaxy M11   ...  4.2 out of 5 stars
17            Redmi 9 Power   ...  4.2 out of 5 stars
18            Redmi 9 Power   ...  4.2 out of 5 stars
19       Samsung Galaxy M11   ...  4.2 out of 5 stars
20        Tecno Spark 7 Pro   ...  3.9 out of 5 stars
21       Samsung Galaxy M12   ...  4.1 out of 5 stars

[22 rows x 4 columns]