#Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
link='https://www.imdb.com/list/ls009997493/'

In [3]:
page=requests.get(link)
page

In [4]:
soup=bs(page.content,"html.parser")

In [5]:
H3=soup.find_all('h3',class_="lister-item-header")

In [6]:
len(H3)

100

In [7]:
movie_title=[]
for i in range(0,len(H3)):
  movie_title.append(H3[i].get_text().replace("\n",""))

In [8]:
movie_title

['1.Rang De Basanti(2006)',
 '2.3 Idiots(2009)',
 '3.Like Stars on Earth(2007)',
 '4.Dil Chahta Hai(2001)',
 '5.Swades(2004)',
 '6.Lagaan: Once Upon a Time in India(2001)',
 '7.Gangs of Wasseypur(2012)',
 '8.Barfi!(2012)',
 '9.Anand(1971)',
 '10.Munna Bhai M.B.B.S.(2003)',
 '11.A Wednesday(2008)',
 '12.Andaz Apna Apna(1994)',
 '13.Sholay(1975)',
 '14.Bhaag Milkha Bhaag(2013)',
 '15.Hera Pheri(2000)',
 '16.Udaan(2010)',
 '17.Kahaani(2012)',
 '18.Black(2005)',
 '19.Chak De! India(2007)',
 '20.Khosla Ka Ghosla!(2006)',
 '21.Jo Jeeta Wohi Sikandar(1992)',
 '22.Zindagi Na Milegi Dobara(2011)',
 '23.Paan Singh Tomar(2012)',
 '24.Dilwale Dulhania Le Jayenge(1995)',
 '25.Omkara(2006)',
 '26.Lage Raho Munna Bhai(2006)',
 '27.Iqbal(2005)',
 '28.The Lunchbox(2013)',
 '29.Black Friday(2004)',
 '30.Company(2002)',
 '31.Hanky Panky(1979)',
 '32.Dev.D(2009)',
 '33.Jaane Bhi Do Yaaro(1983)',
 '34.OMG: Oh My God!(2012)',
 '35.Mughal-E-Azam(1960)',
 '36.Gulaal(2009)',
 '37.Dor(2006)',
 '38.Jab We Met(2007)',
 '39.Pyaasa(1957)',
 '40.The Legend of Bhagat Singh(2002)',
 '41.Masoom(1983)',
 '42.Salaam Bombay!(1988)',
 '43.Satya(1998)',
 '44.Vicky Donor(2012)',
 '45.Lakshya(2004)',
 '46.Vaastav: The Reality(1999)',
 '47.Kal Ho Naa Ho(2003)',
 '48.Oye Lucky! Lucky Oye!(2008)',
 '49.Sarfarosh(1999)',
 '50.Gangaajal(2003)',
 '51.Angoor(1982)',
 '52.Madras Cafe(2013)',
 '53.English Vinglish(2012)',
 '54.Chupke Chupke(1975)',
 '55.Johnny Gaddaar(2007)',
 '56.Maqbool(2003)',
 '57.Hazaaron Khwaishein Aisi(2003)',
 '58.Rock On!!(2008)',
 '59.Don(1978)',
 '60.Chhoti Si Baat(1976)',
 '61.Guide(1965)',
 '62.Raanjhanaa(2013)',
 '63.Deewaar(1975)',
 '64.Special 26(2013)',
 '65.Padosan(1968)',
 '66.Mumbai Meri Jaan(2008)',
 '67.Ab Tak Chhappan(2004)',
 '68.Kai Po Che(2013)',
 '69.Awaara(1951)',
 '70.Shree 420(1955)',
 '71.Earth(1998)',
 '72.Gunda(1998)',
 '73.Parinda(1989)',
 '74.Dasvidaniya(2008)',
 '75.Hey Ram(2000)',
 '76.Pinjar(2003)',
 '77.Socha Na Tha(2005)',
 '78.Guru(2007)',
 '79.Bawarchi(1972)',
 '80.Manorama: Six Feet Under(2007)',
 '81.Mr. India(1987)',
 '82.Aamir(2008)',
 '83.Zakhm(1998)',
 '84.Water(I) (2005)',
 '85.Stanley Ka Dabba(2011)',
 '86.Agneepath(1990)',
 '87.My Name Is Khan(2010)',
 '88.Qayamat Se Qayamat Tak(1988)',
 '89.3 Deewarein(2003)',
 '90.Abhimaan(1973)',
 '91.Sarkar(2005)',
 '92.Bheja Fry(2007)',
 '93.Mother India(1957)',
 '94.Jaane Tu(2008)',
 '95.Delhi Belly(2011)',
 '96.Wake Up Sid(2009)',
 '97.Rangeela(1995)',
 '98.The Chess Players(1977)',
 '99.Pyaar Ka Punchnama(2011)',
 '100.Ek Hasina Thi(2004)']

In [9]:
r1=soup.find_all('span',class_="runtime")

In [10]:
run_time=[]
for i in range(0,len(r1)):
  run_time.append(r1[i].get_text().replace("/n",""))

In [11]:
len(run_time)

100

In [12]:
g1=soup.find_all('span',class_="genre")

In [13]:
genre=[]
for i in range(0,len(g1)):
  genre.append(g1[i].get_text().replace("\n",""))

In [14]:
len(genre)

100

In [15]:
rate=soup.find_all('div',class_="ipl-rating-star small")

In [16]:
rating=[]
for i in range(0,len(rate)):
  rating.append(rate[i].get_text().replace('\n',''))

In [17]:
len(rating)

100

In [18]:
y1=soup.find_all('span',class_="lister-item-year text-muted unbold")

In [19]:
year=[]
for i in range(0,len(y1)):
  year.append(y1[i].get_text())

In [20]:
len(year)

100

In [21]:
data=pd.DataFrame(movie_title,columns=['Title'])

In [22]:
data['Year']=data['Title'].str.extract(r"\((.*?)\)", expand=False)

In [23]:
data

                          Title  Year
0       1.Rang De Basanti(2006)  2006
1              2.3 Idiots(2009)  2009
2   3.Like Stars on Earth(2007)  2007
3        4.Dil Chahta Hai(2001)  2001
4                5.Swades(2004)  2004
..                          ...   ...
95         96.Wake Up Sid(2009)  2009
96            97.Rangeela(1995)  1995
97   98.The Chess Players(1977)  1977
98  99.Pyaar Ka Punchnama(2011)  2011
99      100.Ek Hasina Thi(2004)  2004

[100 rows x 2 columns]

In [24]:
for i in range(0,len(data['Title'])):
  data['Title'][i]=data['Title'][i][:-6]

for i in range(0,len(data['Title'])):
  data['Title'][i]=data['Title'][i][2:]

In [25]:
data

                  Title  Year
0       Rang De Basanti  2006
1              3 Idiots  2009
2   Like Stars on Earth  2007
3        Dil Chahta Hai  2001
4                Swades  2004
..                  ...   ...
95         .Wake Up Sid  2009
96            .Rangeela  1995
97   .The Chess Players  1977
98  .Pyaar Ka Punchnama  2011
99      0.Ek Hasina Thi  2004

[100 rows x 2 columns]

In [26]:
data['Title']=data['Title'].str.replace('.','')

In [27]:
data['runtime']=run_time

In [28]:
data['Title']=data['Title'].str.replace('0Ek Hasina Thi','Ek Hasina Thi')

In [29]:
data['Genre']=genre

In [30]:
data['Rating']=rating

In [31]:
data

                  Title  Year  ...                               Genre Rating
0       Rang De Basanti  2006  ...    Comedy, Crime, Drama                8.1
1              3 Idiots  2009  ...           Comedy, Drama                8.4
2   Like Stars on Earth  2007  ...           Drama, Family                8.4
3        Dil Chahta Hai  2001  ...  Comedy, Drama, Romance                8.1
4                Swades  2004  ...                   Drama                8.2
..                  ...   ...  ...                                 ...    ...
95          Wake Up Sid  2009  ...  Comedy, Drama, Romance                7.6
96             Rangeela  1995  ...  Comedy, Drama, Musical                7.5
97    The Chess Players  1977  ...  Comedy, Drama, History                7.6
98   Pyaar Ka Punchnama  2011  ...  Comedy, Drama, Romance                7.6
99        Ek Hasina Thi  2004  ...   Crime, Drama, Mystery                7.5

[100 rows x 5 columns]

#I did some extra things to make my this project good