#Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
link='https://www.imdb.com/list/ls091520106/'

In [3]:
page=requests.get(link)
page

In [4]:
soup=bs(page.content,"html.parser")

In [5]:
H3=soup.find_all('h3',class_='lister-item-header')

In [6]:
len(H3)

100

In [7]:
movie_title=[]
for i in range(0,len(H3)):
  movie_title.append(H3[i].get_text().replace("\n",""))

In [8]:
movie_title

['1.The Shawshank Redemption(1994)',
 '2.The Godfather(1972)',
 '3.The Godfather: Part II(1974)',
 '4.The Dark Knight(2008)',
 '5.12 Angry Men(1957)',
 "6.Schindler's List(1993)",
 '7.The Lord of the Rings: The Return of the King(2003)',
 '8.Pulp Fiction(1994)',
 '9.The Good, the Bad and the Ugly(1966)',
 '10.Fight Club(1999)',
 '11.Joker(2019)',
 '12.The Lord of the Rings: The Fellowship of the Ring(2001)',
 '13.Forrest Gump(1994)',
 '14.Inception(2010)',
 '15.Star Wars: Episode V - The Empire Strikes Back(1980)',
 '16.The Lord of the Rings: The Two Towers(2002)',
 '17.The Matrix(1999)',
 "18.One Flew Over the Cuckoo's Nest(1975)",
 '19.Goodfellas(1990)',
 '20.Seven Samurai(1954)',
 '21.Se7en(1995)',
 '22.City of God(2002)',
 '23.Life Is Beautiful(1997)',
 '24.The Silence of the Lambs(1991)',
 '25.Star Wars: Episode IV - A New Hope(1977)',
 "26.It's a Wonderful Life(1946)",
 '27.Saving Private Ryan(1998)',
 '28.Spirited Away(2001)',
 '29.The Green Mile(1999)',
 '30.Léon: The Professional(1994)',
 '31.Hara-Kiri(1962)',
 '32.Interstellar(2014)',
 '33.The Usual Suspects(1995)',
 '34.The Lion King(1994)',
 '35.American History X(1998)',
 '36.Back to the Future(1985)',
 '37.The Pianist(2002)',
 '38.Modern Times(1936)',
 '39.Terminator 2: Judgment Day(1991)',
 '40.The Intouchables(2011)',
 '41.Psycho(1960)',
 '42.Gladiator(2000)',
 '43.City Lights(1931)',
 '44.The Departed(2006)',
 '45.Whiplash(2014)',
 '46.Once Upon a Time in the West(1968)',
 '47.The Prestige(2006)',
 '48.Avengers: Endgame(2019)',
 '49.Casablanca(1942)',
 '50.Grave of the Fireflies(1988)',
 '51.Rear Window(1954)',
 '52.Cinema Paradiso(1988)',
 '53.Alien(1979)',
 '54.Indiana Jones and the Raiders of the Lost Ark(1981)',
 '55.Memento(2000)',
 '56.Apocalypse Now(1979)',
 '57.The Great Dictator(1940)',
 '58.The Lives of Others(2006)',
 '59.Avengers: Infinity War(2018)',
 '60.Django Unchained(2012)',
 '61.Spider-Man: Into the Spider-Verse(2018)',
 '62.The Shining(1980)',
 '63.Paths of Glory(1957)',
 '64.WALL·E(2008)',
 '65.Sunset Blvd.(1950)',
 '66.Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb(1964)',
 '67.Princess Mononoke(1997)',
 '68.Oldboy(2003)',
 '69.Witness for the Prosecution(1957)',
 '70.The Dark Knight Rises(2012)',
 '71.Once Upon a Time in America(1984)',
 '72.Parasite(2019)',
 '73.Aliens(1986)',
 '74.American Beauty(1999)',
 '75.Coco(I) (2017)',
 '76.Your Name.(2016)',
 '77.Braveheart(1995)',
 '78.Das Boot(1981)',
 '79.3 Idiots(2009)',
 '80.Like Stars on Earth(2007)',
 '81.Star Wars: Episode VI - Return of the Jedi(1983)',
 '82.Toy Story(1995)',
 '83.Reservoir Dogs(1992)',
 '84.Amadeus(1984)',
 '85.Dangal(2016)',
 '86.Good Will Hunting(1997)',
 '87.Inglourious Basterds(2009)',
 '88.M(1931)',
 '89.Requiem for a Dream(2000)',
 '90.2001: A Space Odyssey(1968)',
 '91.Vertigo(1958)',
 '92.Eternal Sunshine of the Spotless Mind(2004)',
 '93.Citizen Kane(1941)',
 '94.Full Metal Jacket(1987)',
 '95.The Hunt(2012)',
 '96.North by Northwest(1959)',
 '97.A Clockwork Orange(1971)',
 '98.Snatch(2000)',
 '99.Amélie(2001)',
 '100.The Kid(1921)']

In [9]:
r1=soup.find_all('span',class_="runtime")

In [10]:
run_time=[]
for i in range(0,len(r1)):
  run_time.append(r1[i].get_text().replace("/n",""))

In [11]:
len(run_time)

100

In [12]:
g1=soup.find_all('span',class_="genre")

In [13]:
genre=[]
for i in range(0,len(g1)):
  genre.append(g1[i].get_text().replace("\n",""))

In [14]:
len(genre)

100

In [15]:
rate=soup.find_all('div',class_="ipl-rating-star small")

In [16]:
rating=[]
for i in range(0,len(rate)):
  rating.append(rate[i].get_text().replace('\n',''))

In [17]:
len(rating)

100

In [18]:
p1=soup.find_all('p',class_='')

In [19]:
about_movie=[]
for i in range(0,len(p1)):
  about_movie.append(p1[i].get_text().replace('\n',''))

In [20]:
about_movie=about_movie[1:]

In [21]:
about_movie

['Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.',
 "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.",
 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.',
 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.',
 'A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.',
 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.',
 "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.",
 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.',
 'A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.',
 'An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.',
 'In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.',
 'A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.',
 'The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.',
 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.',
 'After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.',
 "While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.",
 'When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.',
 'A criminal pleads insanity and is admitted to a mental institution, where he rebels against the oppressive nurse and rallies up the scared patients.',
 'The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.',
 'A poor village under attack by bandits recruits seven unemployed samurai to help them defend themselves.',
 'Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.',
 "In the slums of Rio, two kids' paths diverge as one struggles to become a photographer and the other a kingpin.",
 'When an open-minded Jewish librarian and his son become victims of the Holocaust, he uses a perfect mixture of will, humor, and imagination to protect his son from the dangers around their camp.',
 'A young F.B.I. cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.',
 "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.",
 'An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed.',
 'Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.',
 "During her family's move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts.",
 'The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.',
 "Mathilda, a 12-year-old girl, is reluctantly taken in by Léon, a professional assassin, after her family is murdered. An unusual relationship forms as she becomes his protégée and learns the assassin's trade.",
 "When a ronin requesting seppuku at a feudal lord's palace is told of the brutal suicide of another ronin who previously visited, he reveals how their pasts are intertwined - and in doing so challenges the clan's integrity.",
 "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.",
 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.',
 'Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.',
 'A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.',
 'Marty McFly, a 17-year-old high school student, is accidentally sent thirty years into the past in a time-traveling DeLorean invented by his close friend, the eccentric scientist Doc Brown.',
 'A Polish Jewish musician struggles to survive the destruction of the Warsaw ghetto of World War II.',
 'The Tramp struggles to live in modern industrial society with the help of a young homeless woman.',
 'A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten year old son, John Connor, from a more advanced and powerful cyborg.',
 'After he becomes a quadriplegic from a paragliding accident, an aristocrat hires a young man from the projects to be his caregiver.',
 "A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother.",
 'A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.',
 'With the aid of a wealthy erratic tippler, a dewy-eyed tramp who has fallen in love with a sightless flower girl accumulates money to be able to help her medically.',
 'An undercover cop and a mole in the police attempt to identify each other while infiltrating an Irish gang in South Boston.',
 "A promising young drummer enrolls at a cut-throat music conservatory where his dreams of greatness are mentored by an instructor who will stop at nothing to realize a student's potential.",
 'A mysterious stranger with a harmonica joins forces with a notorious desperado to protect a beautiful widow from a ruthless assassin working for the railroad.',
 'After a tragic accident, two stage magicians engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other.',
 "After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.",
 'A cynical expatriate American cafe owner struggles to decide whether or not to help his former lover and her fugitive husband escape the Nazis in French Morocco.',
 'A young boy and his little sister struggle to survive in Japan during World War II.',
 'A wheelchair-bound photographer spies on his neighbors from his apartment window and becomes convinced one of them has committed murder.',
 "A filmmaker recalls his childhood when falling in love with the pictures at the cinema of his home village and forms a deep friendship with the cinema's projectionist.",
 'After a space merchant vessel receives an unknown transmission as a distress call, one of the crew is attacked by a mysterious life form and they soon realize that its life cycle has merely begun.',
 "In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before Adolf Hitler's Nazis can obtain its awesome powers.",
 "A man with short-term memory loss attempts to track down his wife's murderer.",
 'A U.S. Army officer serving in Vietnam is tasked with assassinating a renegade Special Forces Colonel who sees himself as a god.',
 "Dictator Adenoid Hynkel tries to expand his empire while a poor Jewish barber tries to avoid persecution from Hynkel's regime.",
 'In 1984 East Berlin, an agent of the secret police, conducting surveillance on a writer and his lover, finds himself becoming increasingly absorbed by their lives.',
 'The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.',
 'With the help of a German bounty-hunter, a freed slave sets out to rescue his wife from a brutal plantation-owner in Mississippi.',
 'Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.',
 'A family heads to an isolated hotel for the winter where a sinister presence influences the father into violence, while his psychic son sees horrific forebodings from both past and future.',
 'After refusing to attack an enemy position, a general accuses the soldiers of cowardice and their commanding officer must defend them.',
 'In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.',
 'A screenwriter develops a dangerous relationship with a faded film star determined to make a triumphant return.',
 'An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.',
 "On a journey to find the cure for a Tatarigami's curse, Ashitaka finds himself in the middle of a war between the forest gods and Tatara, a mining colony. In this quest he also meets San, the Mononoke Hime.",
 'After being kidnapped and imprisoned for fifteen years, Oh Dae-Su is released, only to find that he must find his captor in five days.',
 'A veteran British barrister must defend his client in a murder trial that has surprise after surprise.',
 "Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Catwoman, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane.",
 'A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.',
 'Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan.',
 'Fifty-seven years after surviving an apocalyptic attack aboard her space vessel by merciless space creatures, Officer Ripley awakens from hyper-sleep and tries to warn anyone who will listen about the predators.',
 "A sexually frustrated suburban father has a mid-life crisis after becoming infatuated with his daughter's best friend.",
 "Aspiring musician Miguel, confronted with his family's ancestral ban on music, enters the Land of the Dead to find his great-great-grandfather, a legendary singer.",
 'Two strangers find themselves linked in a bizarre way. When a connection forms, will distance be the only thing to keep them apart?',
 'Scottish warrior William Wallace leads his countrymen in a rebellion to free his homeland from the tyranny of King Edward I of England.',
 'The claustrophobic world of a WWII German U-boat; boredom, filth and sheer terror.',
 'Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".',
 'An eight-year-old boy is thought to be a lazy trouble-maker, until the new art teacher has the patience and compassion to discover the real problem behind his struggles in school.',
 "After a daring mission to rescue Han Solo from Jabba the Hutt, the Rebels dispatch to Endor to destroy the second Death Star. Meanwhile, Luke struggles to help Darth Vader back from the dark side without falling into the Emperor's trap.",
 "A cowboy doll is profoundly threatened and jealous when a new spaceman figure supplants him as top toy in a boy's room.",
 'When a simple jewelry heist goes horribly wrong, the surviving criminals begin to suspect that one of them is a police informant.',
 "The life, success and troubles of Wolfgang Amadeus Mozart, as told by Antonio Salieri, the contemporaneous composer who was insanely jealous of Mozart's talent and claimed to have murdered him.",
 'Former wrestler Mahavir Singh Phogat and his two wrestler daughters struggle towards glory at the Commonwealth Games in the face of societal oppression.',
 'Will Hunting, a janitor at M.I.T., has a gift for mathematics, but needs help from a psychologist to find direction in his life.',
 "In Nazi-occupied France during World War II, a plan to assassinate Nazi leaders by a group of Jewish U.S. soldiers coincides with a theatre owner's vengeful plans for the same.",
 'When the police in a German city are unable to catch a child-murderer, other criminals join in the manhunt.',
 'The drug-induced utopias of four Coney Island people are shattered when their addictions run deep.',
 'After discovering a mysterious artifact buried beneath the Lunar surface, mankind sets off on a quest to find its origins with help from intelligent supercomputer H.A.L. 9000.',
 'A former police detective juggles wrestling with his personal demons and becoming obsessed with a hauntingly beautiful woman.',
 'When their relationship turns sour, a couple undergoes a medical procedure to have each other erased from their memories.',
 "Following the death of publishing tycoon Charles Foster Kane, reporters scramble to uncover the meaning of his final utterance; 'Rosebud'.",
 'A pragmatic U.S. Marine observes the dehumanizing effects the Vietnam War has on his fellow recruits from their brutal boot camp training to the bloody street fighting in Hue.',
 "A teacher lives a lonely life, all the while struggling over his son's custody. His life slowly gets better as he finds love and receives good news from his son, but his new luck is about to be brutally shattered by an innocent little lie.",
 'A New York City advertising executive goes on the run after being mistaken for a government agent by a group of foreign spies.',
 "In the future, a sadistic gang leader is imprisoned and volunteers for a conduct-aversion experiment, but it doesn't go as planned.",
 'Unscrupulous boxing promoters, violent bookmakers, a Russian gangster, incompetent amateur robbers and supposedly Jewish jewelers fight to track down a priceless stolen diamond.',
 'Amélie is an innocent and naive girl in Paris with her own sense of justice. She decides to help those around her and, along the way, discovers love.',
 'The Tramp cares for an abandoned child, but events put that relationship in jeopardy.']

In [22]:
y1=soup.find_all('span',class_="lister-item-year text-muted unbold")

In [23]:
year=[]
for i in range(0,len(y1)):
  year.append(y1[i].get_text())

In [24]:
len(year)

100

In [25]:
data=pd.DataFrame(movie_title,columns=['Title'])

In [26]:
data['Year']=data['Title'].str.extract(r"\((.*?)\)", expand=False)

In [27]:
data

                               Title  Year
0   1.The Shawshank Redemption(1994)  1994
1              2.The Godfather(1972)  1972
2     3.The Godfather: Part II(1974)  1974
3            4.The Dark Knight(2008)  2008
4               5.12 Angry Men(1957)  1957
..                               ...   ...
95       96.North by Northwest(1959)  1959
96       97.A Clockwork Orange(1971)  1971
97                   98.Snatch(2000)  2000
98                   99.Amélie(2001)  2001
99                 100.The Kid(1921)  1921

[100 rows x 2 columns]

In [28]:
for i in range(0,len(data['Title'])):
  data['Title'][i]=data['Title'][i][:-6]

for i in range(0,len(data['Title'])):
  data['Title'][i]=data['Title'][i][2:]

In [29]:
data

                       Title  Year
0   The Shawshank Redemption  1994
1              The Godfather  1972
2     The Godfather: Part II  1974
3            The Dark Knight  2008
4               12 Angry Men  1957
..                       ...   ...
95       .North by Northwest  1959
96       .A Clockwork Orange  1971
97                   .Snatch  2000
98                   .Amélie  2001
99                 0.The Kid  1921

[100 rows x 2 columns]

In [30]:
data['Title']=data['Title'].str.replace('.','')

In [31]:
data['runtime']=run_time

In [32]:
data['Title']=data['Title'].str.replace('0The Kid','The Kid')

In [33]:
data['Genre']=genre

In [34]:
data['Rating']=rating

In [35]:
data['About_Movie']=about_movie

In [36]:
data

                       Title  ...                                        About_Movie
0   The Shawshank Redemption  ...  Two imprisoned men bond over a number of years...
1              The Godfather  ...  An organized crime dynasty's aging patriarch t...
2     The Godfather: Part II  ...  The early life and career of Vito Corleone in ...
3            The Dark Knight  ...  When the menace known as the Joker wreaks havo...
4               12 Angry Men  ...  A jury holdout attempts to prevent a miscarria...
..                       ...  ...                                                ...
95        North by Northwest  ...  A New York City advertising executive goes on ...
96        A Clockwork Orange  ...  In the future, a sadistic gang leader is impri...
97                    Snatch  ...  Unscrupulous boxing promoters, violent bookmak...
98                    Amélie  ...  Amélie is an innocent and naive girl in Paris ...
99                   The Kid  ...  The Tramp cares for an abandoned child, but ev...

[100 rows x 6 columns]

#I did some extra things to make my this project good